h1{text-align: center;
    font-size: 40px;
    text-decoration: underline;}
    
    legend{text-decoration: underline;
           font-size: 20px;}
 
body{background-color: rgb(236, 117, 186);}           