h1{text-align: center;

    text-decoration: underline;
font-size: 40px;}

body{background-color: rgb(197, 224, 146);}

.div2{justify-content: flex-end;
    display: flex;
    gap: 30px;
    margin: 1%;
    padding: 1%;
    list-style: none;}



    *{padding: 0%;
margin: 0%;
font-size: 20px;}

.body{padding: 15px;}

ul{padding: 10px;
list-style: none;}

img{border: 5px #343434 solid} 

h2{display: inline-block;}

li, legend{font-size: 20px;}

#Principal{margin-top: 20px;}

.footer{background-color: black;
    padding: 20px;
    position: fixed;
    bottom: 0;
    margin-top: 50px;
    width: 100%;
    height: 15%;
    color: white;}


*{padding: 0%;
margin: 0%;
font-size: 20px;}

.div2>a{display: inline-block;
margin: 0px 5px;}

